@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/night-owl.min.css");
.ProseMirror code {
  color: #000000;
  padding: 2px 5px;
  background: #00000010;
  border-radius: 4px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}

.ProseMirror code::before {
  content: "";
}

.ProseMirror code::after {
  content: "";
}

.ProseMirror blockquote > p::before {
  content: "" !important;
}

.ProseMirror blockquote > p::after {
  content: "" !important;
}

.ProseMirror mark {
  background: #00ffaa40;
  border-radius: 1px;
  padding: 0px 4px;
}

.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.ProseMirror > ul > li > p {
  margin-top: 0 !important;
  margin-bottom: 0.375rem !important;
}

.ProseMirror > ol > li > p {
  margin-top: 0 !important;
  margin-bottom: 0.375rem !important;
}

.ProseMirror ol > li::before {
  color: #1a141f;
}

.ProseMirror ul > li::before {
  background-color: #1a141f;
}

.prose pre code {
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}
