.editor-sandbox-container {
  padding: 12px 24px;
  background: white;
  min-height: 100vh;

  div {
    font-family: inherit !important;
  }
  .sb-unstyled {
    border-radius: 0px !important;
  }
  .desktop>div{
    padding: 0px;
    margin-bottom: 12px;
    height: 200px;
  }
  .npm__react-simple-code-editor__textarea, pre {
    border-radius: 4px;
    border: 1px solid rgb(216, 220, 222) !important;
    font-family: monospace !important;
    background-color: transparent !important;
  }
}
