$neeto-ui-white: #ffffff;
$neeto-ui-black: #1b1f23;

$neeto-ui-gray-800: #2f3941;
$neeto-ui-gray-700: #49545c;
$neeto-ui-gray-600: #68737d;
$neeto-ui-gray-500: #87929d;
$neeto-ui-gray-300: #d8dcde;
$neeto-ui-gray-200: #e9ebed;
$neeto-ui-gray-100: #f8f9f9;
// states
$neeto-ui-success: #00ba88;
$neeto-ui-warning: #f3cd82;

// Font Sizes
$neeto-ui-text-xxs: 10px;
$neeto-ui-text-xs: 12px;
$neeto-ui-text-sm: 14px;
$neeto-ui-text-lg: 18px;
$neeto-ui-text-2xl: 24px;

// Shadow
$box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
$neeto-ui-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);

// Border Radius
$neeto-ui-rounded-sm: 2px;
$neeto-ui-rounded-full: 999px;

// Font Weights
$neeto-ui-font-normal: 400;
$neeto-ui-font-semibold: 600;

// Transition
$neeto-ui-transition: all 0.3s ease-in-out;
