// Colors
$color-steel-blue: steelblue;
$color-solid-white: #fff;
$color-solid-black: #000000;
$color-translucent-black: #00000010;
$color-aqua-blue: #68cef8;
$color-indigo: #5e5ce6;
$color-dark-green: #00ffaa40;

// Font Sizes

$font-size-lg: 16px;
