$color-steel-blue: steelblue;
$color-solid-white: #fff;
$color-solid-black: #000000;
$color-translucent-black: #00000010;
$color-aqua-blue: #68cef8;
$color-dark-green: #00ffaa40;

$box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
