@mixin show-placeholder {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.neeto-editor {
  @extend .neeto-editor-content;

  max-width: 100% !important;
  border-radius: var(--neeto-editor-rounded);
  white-space: pre-wrap;
  padding: 16px;
  color: rgb(var(--neeto-editor-black));
  background-color: rgb(var(--neeto-editor-white));

  &:focus {
    outline: none;
  }

  a {
    pointer-events: none;
  }

  [data-variable] {
    display: inline-flex;
    color: rgb(var(--neeto-editor-gray-600));
    background-color: rgb(var(--neeto-editor-gray-200));
    border-radius: var(--neeto-editor-rounded-sm);
    line-height: 1;
    padding: 4px 6px;
  }

  .ProseMirror-separator {
    display: none;
  }

  &.fixed-menu-active {
    border: thin solid rgb(var(--neeto-editor-gray-400));
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &.attachments-active {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .is-empty {
    position: relative;
  }

  &.placeholder-active {
    .is-editor-empty:first-child::before {
      @include show-placeholder;
    }
  }

  hr {
    margin: 8px 0;
  }

  .ProseMirror-selectednode {
    outline: 3px solid rgb(var(--neeto-editor-pastel-blue));
  }

  .has-focus {
    background: var(--focus-background-color);
    transition: background-color 200ms ease;
  }

  [data-variable] {
    display: inline-flex;
    color: rgb(var(--neeto-editor-gray-800));
    background-color: rgb(var(--neeto-editor-gray-200));
    border-radius: var(--neeto-editor-rounded-sm);
    line-height: 1;
    padding: 4px;
  }
}

.neeto-editor-character-count {
  padding: 4px;
  color: rgb(var(--neeto-editor-gray-600));
  font-size: 12px;
  text-align: right;
  width: 100%;
}

.neeto-editor-error {
  color: rgb(var(--neeto-editor-error-500));
  border-width: 1px;
  border-color: rgb(var(--neeto-editor-error-500));
  border-radius: var(--neeto-editor-rounded);
}

.neeto-editor-error:focus-within {
  border-color: rgb(var(--neeto-editor-error-600));
}

.ne_variable-tag {
  border-radius: 6px !important;
}

.neeto-editor-mentions {
  &__wrapper {
    padding: 4px 0px;
  }

  &__item {
    padding: 8px 12px;
  }
}