.neeto-ui-dropdown__popup .neeto-ui-dropdown__popup-menu.neeto-editor-highlight-dropdown {
  width: 240px;
  padding: 12px;
}

.neeto-editor-highlight-dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.neeto-editor-highlight-dropdown__section {
  width: 100%;
}

.neeto-editor-highlight-dropdown__section-title {
  color: rgb(var(--neeto-ui-gray-600));
  margin-bottom: 8px;
}

.neeto-editor-highlight-dropdown__color-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.neeto-editor-highlight-dropdown__color-dot {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  transition: all 0.2s ease;
  position: relative;

  &:hover {
    box-shadow: inset 0px 0px 0px 1px currentColor;
  }
}

.neeto-editor-highlight-dropdown__color-dot-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: currentColor;
}

.neeto-editor-highlight-dropdown__color-dot--selected {
  box-shadow: inset 0px 0px 0px 1.5px currentColor;
}

.neeto-editor-highlight-dropdown__color-dot--background {
  border-color: rgb(var(--neeto-ui-gray-300));

  &:hover {
    box-shadow: inset 0px 0px 0px 1px rgb(var(--neeto-ui-gray-300));
  }

  &.neeto-editor-highlight-dropdown__color-dot--selected {
    box-shadow: inset 0px 0px 0px 1.5px rgb(var(--neeto-ui-gray-300));
  }
}