.ne-link-popover {
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  color: #333;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid var(--neeto-ui-popover-light-theme-border-color);
  box-shadow: var(--neeto-ui-tooltip-light-theme-box-shadow);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;

  &__url-input{
    margin: 8px 0;
  }

  &__checkbox {
    margin: 16px 0;
  }

  &__option-button {
    margin: 0 4px;
  }

  &__edit-prompt-buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }

  a {
    float: left;
    max-width: 300px;
    white-space: nowrap;
    color: rgb(var(--neeto-ui-primary-800));
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
    font-weight: var(--neeto-ui-font-medium);
    font-size: var(--neeto-ui-text-sm);
  }
}

.ne-link-arrow {
  z-index: 99999;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}
