.neeto-editor-fixed-menu {
  border: thin solid rgb(var(--neeto-ui-gray-300));
  border-radius: var(--neeto-ui-rounded) var(--neeto-ui-rounded) 0px 0px;
  border-bottom: none;
  background-color: rgb(var(--neeto-ui-white));
  position: relative;

  &--independant {
    border-radius: unset;
    border-bottom: thin solid rgb(var(--neeto-ui-gray-300));
  }

  &__item {
    border-radius: var(--neeto-ui-rounded-sm) !important;
  }

  button.neeto-editor-fixed-menu__item {
    min-width: fit-content;

    .neeto-ui-btn__icon {
      height: 18px !important;
      width: 18px !important;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    width: 100%;
    padding: 2px;
    gap: 0 4px;

    &--collapsible {
      display: flex;
      gap: 0 4px;

      &--fade {
        button.neeto-editor-fixed-menu__item {
          animation: fade-in 0.3s ease-in;
        }
      }
    }
  }

  &__variables {
    position: absolute;
    right: 8px;
    bottom: -24px;
    z-index: 10;

    .neeto-editor-menu__item {
      padding: 4px;
      border-radius: var(--neeto-ui-rounded-sm);
      background-color: rgb(var(--neeto-ui-gray-700));

      &:hover,
      &.active {
        background-color: rgb(var(--neeto-ui-gray-600));
      }
    }
  }

  &__right-options {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
  }

  &__emoji-dropdown {
    max-height: unset !important;
  }

  &__separator {
    display: flex;
    height: 28px;
    width: 32px;

    span {
      width: 100%;
    }

    span:first-child {
      border-right: 1px solid rgb(var(--neeto-ui-gray-200));
    }
  }
}

.neeto-editor-text-color-option {
  &__options-group {
    margin: 8px 4px;
    display: flex;
    gap: 8px;
    align-items: center;

    &__input {
      max-width: 130px;
    }

    &__reset-button {
      align-self: center;
    }
  }
}

.neeto-editor-menu__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: var(--neeto-ui-transition);
  border-radius: 2px;

  p {
    color: rgb(var(--neeto-ui-gray-600));
    font-size: var(--neeto-ui-text-xs);
    line-height: 1;
    white-space: nowrap;
  }

  &:hover,
  &.active {
    background-color: rgb(var(--neeto-ui-gray-200));
  }

  &:focus,
  &:focus-visible {
    outline: rgb(var(--neeto-ui-gray-300)) auto 1px;
  }

  input[type="color"] {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  &:disabled {
    opacity: 0.5;
    background-color: rgb(var(--neeto-ui-gray-100));
  }
}

.neeto-editor-link__item {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 8px !important;
}

.neeto-editor-table__item {
  display: flex !important;
  flex-direction: row;
  gap: 8px;
  padding: 8px !important;

  input {
    max-width: 60px !important;
  }
}

.neeto-editor-table__options-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px !important;
  max-height: 150px !important;
  overflow: scroll;
}

.neeto-editor-font-size__wrapper {
  font-weight: var(--neeto-ui-font-normal) !important;
}

.neeto-editor-bubble-menu {
  position: relative;
  display: flex;
  gap: 1px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--neeto-ui-rounded);
  background: rgb(var(--neeto-ui-gray-800));
  padding: 0 4px;

  button.neeto-ui-btn--style-text {
    color: rgb(var(--neeto-ui-gray-200));
    min-width: fit-content;

    &:hover,
    &:active,
    &.active {
      color: rgb(var(--neeto-ui-gray-200)) !important;
      background-color: rgb(var(--neeto-ui-gray-600)) !important;
    }
  }

  button.neeto-ui-btn--style-secondary {
    min-width: fit-content;
    background-color: rgb(var(--neeto-ui-gray-400));
  }

  .neeto-ui-dropdown__popup {
    background-color: rgb(var(--neeto-ui-gray-700));

    &-menu-item-btn {
      color: rgb(var(--neeto-ui-gray-200)) !important;

      &:hover,
      &:active,
      &.active {
        background-color: rgb(var(--neeto-ui-gray-600)) !important;
      }
    }
  }

  .neeto-editor-bubble-menu__link {
    width: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    gap: 8px;

    .neeto-editor-bubble-menu-link__input {
      background-color: transparent;
      outline: none;
      line-height: 20px;
      width: 100%;

      &::placeholder {
        color: rgba(var(--neeto-ui-white, 0.4));
      }
    }

    .ne-btn--icon-only {
      padding: 0;
      min-height: 0;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .neeto-editor-bubble-menu__table {
    max-width: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    gap: 6px;

    input {
      background-color: rgba(var(--neeto-ui-gray-400), 0.2);
      outline: none;
      line-height: 20px;
      width: 60px;
      height: 24px;

      &::placeholder {
        color: rgba(var(--neeto-ui-white, 0.4));
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
    }

    &-options {
      display: flex;
      max-height: 100px;
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      gap: 2px;
    }
  }

  .neeto-editor-bubble-menu__dropdown-target {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    font-size: var(--neeto-ui-text-xs);
    line-height: var(--neeto-ui-leading-normal);
  }

  .neeto-editor-bubble-menu__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .neeto-editor-bubble-menu__dropdown-item {
      width: 100%;
      text-align: left;
      padding: 8px 12px;
      font-size: var(--neeto-ui-text-xs);

      &:first-child {
        border-top-left-radius: var(--neeto-ui-rounded);
        border-top-right-radius: var(--neeto-ui-rounded);
      }

      &:last-child {
        border-bottom-left-radius: var(--neeto-ui-rounded);
        border-bottom-right-radius: var(--neeto-ui-rounded);
      }
    }
  }
}

.neeto-editor-bubble-menu-animate-shake {
  animation: 1s linear infinite alternate both shake;
}

.neeto-editor__image-menu {
  .neeto-ui-dropdown__popup {
    display: flex;
    min-width: unset;

    .neeto-ui-btn {
      .neeto-ui-btn__icon {
        height: 18px !important;
        width: 18px !important;
      }
    }
  }

  &-btn {
    position: absolute !important;
    top: 4px;
    right: 4px;
    z-index: 1;
    padding: 2px !important;
  }
}
