.neeto-ui-theme--dark .hljs {
  color: #c9d1d9;
  background: #0d1117;
}

.neeto-ui-theme--dark .hljs-doctag,
.neeto-ui-theme--dark .hljs-keyword,
.neeto-ui-theme--dark .hljs-meta .hljs-keyword,
.neeto-ui-theme--dark .hljs-template-tag,
.neeto-ui-theme--dark .hljs-template-variable,
.neeto-ui-theme--dark .hljs-type,
.neeto-ui-theme--dark .hljs-variable.language_ {
  color: #ff7b72;
}

.neeto-ui-theme--dark .hljs-title,
.neeto-ui-theme--dark .hljs-title.class_,
.neeto-ui-theme--dark .hljs-title.class_.inherited__,
.neeto-ui-theme--dark .hljs-title.function_ {
  color: #d2a8ff;
}

.neeto-ui-theme--dark .hljs-attr,
.neeto-ui-theme--dark .hljs-attribute,
.neeto-ui-theme--dark .hljs-literal,
.neeto-ui-theme--dark .hljs-meta,
.neeto-ui-theme--dark .hljs-number,
.neeto-ui-theme--dark .hljs-operator,
.neeto-ui-theme--dark .hljs-selector-attr,
.neeto-ui-theme--dark .hljs-selector-class,
.neeto-ui-theme--dark .hljs-selector-id,
.neeto-ui-theme--dark .hljs-variable {
  color: #79c0ff;
}

.neeto-ui-theme--dark .hljs-meta .hljs-string,
.neeto-ui-theme--dark .hljs-regexp,
.neeto-ui-theme--dark .hljs-string {
  color: #a5d6ff;
}

.neeto-ui-theme--dark .hljs-built_in,
.neeto-ui-theme--dark .hljs-symbol {
  color: #ffa657;
}

.neeto-ui-theme--dark .hljs-code,
.neeto-ui-theme--dark .hljs-comment,
.neeto-ui-theme--dark .hljs-formula {
  color: #8b949e;
}

.neeto-ui-theme--dark .hljs-name,
.neeto-ui-theme--dark .hljs-quote,
.neeto-ui-theme--dark .hljs-selector-pseudo,
.neeto-ui-theme--dark .hljs-selector-tag {
  color: #7ee787;
}

.neeto-ui-theme--dark .hljs-subst {
  color: #c9d1d9;
}

.neeto-ui-theme--dark .hljs-section {
  color: #1f6feb;
}

.neeto-ui-theme--dark .hljs-bullet {
  color: #f2cc60;
}

.neeto-ui-theme--dark .hljs-emphasis {
  color: #c9d1d9;
}

.neeto-ui-theme--dark .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}

.neeto-ui-theme--dark .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.neeto-ui-theme--dark .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

.neeto-ui-theme--light .hljs {
  color: #333;
  background: #f8f8f8;
}

.neeto-ui-theme--light .hljs-comment,
.neeto-ui-theme--light .hljs-quote {
  color: #998;
}

.neeto-ui-theme--light .hljs-keyword,
.neeto-ui-theme--light .hljs-selector-tag,
.neeto-ui-theme--light .hljs-subst {
  color: #333;
}

.neeto-ui-theme--light .hljs-literal,
.neeto-ui-theme--light .hljs-number,
.neeto-ui-theme--light .hljs-tag .hljs-attr,
.neeto-ui-theme--light .hljs-template-variable,
.neeto-ui-theme--light .hljs-variable {
  color: teal;
}

.neeto-ui-theme--light .hljs-doctag,
.neeto-ui-theme--light .hljs-string {
  color: #d14;
}

.neeto-ui-theme--light .hljs-section,
.neeto-ui-theme--light .hljs-selector-id,
.neeto-ui-theme--light .hljs-title {
  color: #900;
}

.neeto-ui-theme--light .hljs-class .hljs-title,
.neeto-ui-theme--light .hljs-type {
  color: #458;
}

.neeto-ui-theme--light .hljs-attribute,
.neeto-ui-theme--light .hljs-name,
.neeto-ui-theme--light .hljs-tag {
  color: navy;
}

.neeto-ui-theme--light .hljs-link,
.neeto-ui-theme--light .hljs-regexp {
  color: #009926;
}

.neeto-ui-theme--light .hljs-bullet,
.neeto-ui-theme--light .hljs-symbol {
  color: #990073;
}

.neeto-ui-theme--light .hljs-built_in,
.neeto-ui-theme--light .hljs-builtin-name {
  color: #0086b3;
}

.neeto-ui-theme--light .hljs-meta {
  color: #999;
}

.neeto-ui-theme--light .hljs-deletion {
  background: #fdd;
}

.neeto-ui-theme--light .hljs-addition {
  background: #dfd;
}

:root,
.neeto-ui-theme--light {
  --neeto-editor-white: 255, 255, 255;
  --neeto-editor-black: 12, 17, 29;
  --neeto-editor-gray-800: 16, 24, 40;
  --neeto-editor-gray-700: 29, 41, 57;
  --neeto-editor-gray-600: 52, 64, 84;
  --neeto-editor-gray-500: 135, 146, 157;
  --neeto-editor-gray-400: 194, 200, 204;
  --neeto-editor-gray-300: 216, 220, 222;
  --neeto-editor-gray-200: 233, 235, 237;
  --neeto-editor-gray-100: 246, 247, 248;
  --neeto-editor-gray-50: 250, 250, 250;
  --neeto-editor-primary-800: 0, 102, 83;
  --neeto-editor-primary-600: 0, 122, 100;
  --neeto-editor-primary-500: 0, 128, 104;
  --neeto-editor-primary-100: 225, 243, 238;
  --neeto-editor-primary-50: 240, 249, 247;
  --neeto-editor-accent-800: 9, 90, 186;
  --neeto-editor-accent-600: 13, 102, 208;
  --neeto-editor-accent-500: 20, 115, 230;
  --neeto-editor-accent-100: 230, 244, 255;
  --neeto-editor-accent-50: 239, 248, 255;
  --neeto-editor-success-800: 1, 121, 93;
  --neeto-editor-success-600: 1, 141, 109;
  --neeto-editor-success-500: 2, 162, 124;
  --neeto-editor-success-100: 235, 255, 250;
  --neeto-editor-error-800: 187, 18, 26;
  --neeto-editor-error-600: 201, 37, 45;
  --neeto-editor-error-500: 215, 55, 63;
  --neeto-editor-error-100: 254, 236, 240;
  --neeto-editor-info-800: 9, 90, 186;
  --neeto-editor-info-600: 13, 102, 208;
  --neeto-editor-info-500: 20, 115, 230;
  --neeto-editor-info-100: 226, 242, 255;
  --neeto-editor-warning-800: 189, 100, 13;
  --neeto-editor-warning-600: 203, 111, 16;
  --neeto-editor-warning-500: 218, 123, 17;
  --neeto-editor-warning-100: 251, 242, 225;
  --neeto-editor-pastel-silver: 232, 233, 237;
  --neeto-editor-pastel-red: 255, 229, 229;
  --neeto-editor-pastel-yellow: 254, 243, 197;
  --neeto-editor-pastel-green: 211, 249, 232;
  --neeto-editor-pastel-blue: 236, 244, 255;
  --neeto-editor-pastel-purple: 238, 235, 255;
  --neeto-editor-pastel-pink: 253, 226, 241;
  --neeto-editor-rounded-none: 0;
  --neeto-editor-rounded-sm: 3px;
  --neeto-editor-rounded: 5px;
  --neeto-editor-rounded-md: 6px;
  --neeto-editor-rounded-lg: 8px;
  --neeto-editor-rounded-xl: 12px;
  --neeto-editor-rounded-full: 999px;
  --neeto-editor-font-thin: 100;
  --neeto-editor-font-extralight: 200;
  --neeto-editor-font-light: 300;
  --neeto-editor-font-normal: 400;
  --neeto-editor-font-medium: 500;
  --neeto-editor-font-semibold: 600;
  --neeto-editor-font-bold: 700;
  --neeto-editor-font-extrabold: 800;
  --neeto-editor-font-black: 900;
  --neeto-editor-content-h1-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-h2-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-h3-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-h4-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-h5-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-h6-margin: 1.5rem 0 0.25rem;
  --neeto-editor-content-heading-font-weight: 600;
  --neeto-editor-content-heading-font-weight-bold: bold;
  --neeto-editor-content-heading-color: 12, 17, 29, 1;
  --neeto-editor-content-paragraph-color: 54, 55, 55, 1;
  --neeto-editor-content-paragraph-font-weight: 400;
  --neeto-editor-content-paragraph-line-height: 1.6;
  --neeto-editor-content-list-left-padding: 2rem;
  --neeto-editor-content-list-margin-bottom: 1rem;
  --neeto-editor-content-list-item-margin-bottom: 0.5rem;
  --neeto-editor-content-list-item-margin-top: 0.5rem;
  --neeto-editor-content-code-font-size: 85%;
  --neeto-editor-content-code-background-color: 246, 248, 250, 1;
  --neeto-editor-content-code-line-number-color: 89, 99, 110, 1;
  --neeto-editor-content-code-color: 31, 35, 40, 1;
  --neeto-editor-content-code-padding: 0.2em 0.4em;
  --neeto-editor-content-blockquote-color: 89, 99, 110, 1;
  --neeto-editor-content-blockquote-border-color: 209, 217, 224, 1;
  --neeto-editor-content-blockquote-border-left-width: 4px;
  --neeto-editor-content-blockquote-margin-bottom: 1rem;
  --neeto-editor-content-blockquote-padding-left: 0.75rem;
  --neeto-editor-content-image-border-color: 228, 228, 231;
  --neeto-editor-content-image-border-radius: 8px;
}

.neeto-ui-theme--dark {
  --neeto-editor-white: 18, 18, 18;
  --neeto-editor-black: 224, 224, 224;
  --neeto-editor-gray-50: 10, 10, 10;
  --neeto-editor-gray-100: 30, 30, 30;
  --neeto-editor-gray-200: 44, 44, 44;
  --neeto-editor-gray-300: 57, 57, 57;
  --neeto-editor-gray-400: 73, 73, 73;
  --neeto-editor-gray-500: 92, 92, 92;
  --neeto-editor-gray-600: 124, 124, 124;
  --neeto-editor-gray-700: 162, 162, 162;
  --neeto-editor-gray-800: 200, 200, 200;
  --neeto-editor-primary-800: 0, 245, 200;
  --neeto-editor-primary-600: 0, 224, 183;
  --neeto-editor-primary-500: 0, 204, 167;
  --neeto-editor-primary-100: 0, 61, 49;
  --neeto-editor-primary-50: 0, 41, 33;
  --neeto-editor-accent-800: 142, 189, 245;
  --neeto-editor-accent-600: 105, 167, 242;
  --neeto-editor-accent-500: 67, 144, 239;
  --neeto-editor-accent-100: 10, 56, 113;
  --neeto-editor-accent-50: 7, 37, 75;
  --neeto-editor-error-800: 247, 109, 116;
  --neeto-editor-error-600: 236, 91, 98;
  --neeto-editor-error-500: 227, 72, 80;
  --neeto-editor-error-100: 129, 33, 38;
  --neeto-editor-success-800: 0, 245, 200;
  --neeto-editor-success-600: 0, 224, 183;
  --neeto-editor-success-500: 0, 204, 167;
  --neeto-editor-success-100: 0, 61, 49;
  --neeto-editor-warning-800: 249, 164, 63;
  --neeto-editor-warning-600: 242, 148, 35;
  --neeto-editor-warning-500: 230, 134, 25;
  --neeto-editor-warning-100: 131, 74, 11;
  --neeto-editor-info-800: 142, 189, 245;
  --neeto-editor-info-600: 105, 167, 242;
  --neeto-editor-info-500: 67, 144, 239;
  --neeto-editor-info-100: 10, 56, 113;
  --neeto-editor-pastel-silver: 167, 168, 170;
  --neeto-editor-pastel-red: 183, 164, 165;
  --neeto-editor-pastel-yellow: 182, 175, 143;
  --neeto-editor-pastel-green: 152, 179, 167;
  --neeto-editor-pastel-blue: 170, 175, 183;
  --neeto-editor-pastel-purple: 171, 169, 183;
  --neeto-editor-pastel-pink: 181, 162, 174;
  --neeto-editor-content-heading-color: 224, 224, 224, 1;
  --neeto-editor-content-paragraph-color: 224, 224, 224, 1;
  --neeto-editor-content-code-background-color: 21, 27, 35, 1;
  --neeto-editor-content-code-line-number-color: 89, 99, 110, 1;
  --neeto-editor-content-code-color: 240, 246, 252, 1;
  --neeto-editor-content-blockquote-color: 145, 152, 161, 1;
  --neeto-editor-content-blockquote-border-color: 61, 68, 77, 1;
}

.neeto-ui-theme--dark .neeto-editor-content.neeto-editor-size--small {
  --neeto-editor-content-heading-color: 224, 224, 224, 1;
  --neeto-editor-content-paragraph-color: 224, 224, 224, 1;
}

.neeto-ui-theme--light .neeto-editor-content {
  --neeto-editor-content-heading-color: 12, 17, 29, 1;
  --neeto-editor-content-paragraph-color: 54, 55, 55, 1;
}

.neeto-ui-theme--light .neeto-editor-content.neeto-editor-size--small {
  --neeto-editor-content-heading-color: 31, 35, 40, 1;
  --neeto-editor-content-paragraph-color: 31, 35, 40, 1;
}

.neeto-editor-content {
  white-space: pre-wrap;
  word-break: break-word;
  tab-size: 2;

  hr {
    margin: 0.5rem 0;
    border-color: rgba(var(--neeto-editor-content-paragraph-color));
    opacity: 0.2;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 1rem 0;
  }

  // Sizing
  &.neeto-editor-size--small {
    --neeto-editor-content-heading-color: 31, 35, 40, 1;
    --neeto-editor-content-paragraph-color: 31, 35, 40, 1;
    --neeto-editor-content-h1-font-size: 1.75rem;
    --neeto-editor-content-h2-font-size: 1.3125rem;
    --neeto-editor-content-h3-font-size: 1.09375rem;
    --neeto-editor-content-h4-font-size: 0.875rem;
    --neeto-editor-content-h5-font-size: 0.765625rem;
    --neeto-editor-content-h6-font-size: 0.74375rem;
    --neeto-editor-content-paragraph-font-size: 0.875rem;
    --neeto-editor-content-paragraph-line-height: 1.5;
    --neeto-editor-content-list-left-padding: 1.5rem;
    --neeto-editor-content-list-item-margin-bottom: 0.25rem;
    --neeto-editor-content-list-item-margin-top: 0.25rem;
  }

  &.neeto-editor-size--medium {
    --neeto-editor-content-h1-font-size: 2rem;
    --neeto-editor-content-h2-font-size: 1.5rem;
    --neeto-editor-content-h3-font-size: 1.25rem;
    --neeto-editor-content-h4-font-size: 1rem;
    --neeto-editor-content-h5-font-size: 0.875rem;
    --neeto-editor-content-h6-font-size: 0.75rem;
    --neeto-editor-content-paragraph-font-size: 1rem;

    @media only screen and (max-width: 767px) {
      --neeto-editor-content-h1-font-size: 1.375rem;
      --neeto-editor-content-h2-font-size: 1.25rem;
      --neeto-editor-content-h3-font-size: 1.125rem;
    }
  }

  &.neeto-editor-size--large {
    --neeto-editor-content-h1-font-size: 2.375rem;
    --neeto-editor-content-h2-font-size: 1.93rem;
    --neeto-editor-content-h3-font-size: 1.633rem;
    --neeto-editor-content-h4-font-size: 1.336rem;
    --neeto-editor-content-h5-font-size: 0.986rem;
    --neeto-editor-content-h6-font-size: 0.796rem;
    --neeto-editor-content-paragraph-font-size: 1.125rem;

    @media only screen and (max-width: 767px) {
      --neeto-editor-content-h1-font-size: 2.125rem;
      --neeto-editor-content-h2-font-size: 1.7266rem;
      --neeto-editor-content-h3-font-size: 1.4609rem;
      --neeto-editor-content-h4-font-size: 1.1953rem;
      --neeto-editor-content-h5-font-size: 0.875rem;
      --neeto-editor-content-h6-font-size: 0.75rem;
      --neeto-editor-content-paragraph-font-size: 1rem;
    }
  }

  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgba(var(--neeto-editor-content-heading-color));
    font-weight: var(--neeto-editor-content-heading-font-weight);

    strong {
      font-weight: var(
        --neeto-editor-content-heading-font-weight-bold
      ) !important;
    }
  }

  h1 {
    font-size: var(--neeto-editor-content-h1-font-size);
    margin: var(--neeto-editor-content-h1-margin);
  }

  h2 {
    font-size: var(--neeto-editor-content-h2-font-size);
    margin: var(--neeto-editor-content-h2-margin);
  }

  h3 {
    font-size: var(--neeto-editor-content-h3-font-size);
    margin: var(--neeto-editor-content-h3-margin);
  }

  h4 {
    font-size: var(--neeto-editor-content-h4-font-size);
    margin: var(--neeto-editor-content-h4-margin);
  }

  h5 {
    font-size: var(--neeto-editor-content-h5-font-size);
    margin: var(--neeto-editor-content-h5-margin);
  }

  h6 {
    font-size: var(--neeto-editor-content-h6-font-size);
    margin: var(--neeto-editor-content-h6-margin);
  }

  // header anchor tags
  .header-wrapper {
    position: relative;

    &__link {
      position: absolute;
      top: 50%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      transition: color ease-in 150ms;
    }

    .header-link-icon-wrapper {
      position: absolute;
      left: -1.5625rem;
      height: 100%;
      width: 1.5625rem;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity ease-in 150ms;

      svg {
        transition: fill ease-in 150ms;
        fill: rgb(var(--neeto-editor-primary-800));
      }
    }

    &:hover {
      .header-link-icon-wrapper {
        opacity: 1;
      }

      svg {
        fill: rgb(var(--neeto-editor-accent-800));
      }
    }
  }

  // Paragraph
  p {
    font-size: var(--neeto-editor-content-paragraph-font-size);
    font-weight: var(--neeto-editor-content-paragraph-font-weight);
    line-height: var(--neeto-editor-content-paragraph-line-height);
    color: rgba(var(--neeto-editor-content-paragraph-color));
    margin: 0;

    &:empty::after {
      content: "\00a0";
    }

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 600 !important;
    }
  }

  // Div
  div {
    font-size: var(--neeto-editor-content-paragraph-font-size);
    font-weight: var(--neeto-editor-content-paragraph-font-weight);
    line-height: var(--neeto-editor-content-paragraph-line-height);
    color: rgba(var(--neeto-editor-content-paragraph-color));
  }

  // Code
  code {
    padding: var(--neeto-editor-content-code-padding);
    font-size: var(--neeto-editor-content-code-font-size);
    border-radius: var(--neeto-editor-rounded-sm);
    color: rgba(var(--neeto-editor-content-code-color));
    background-color: rgba(var(--neeto-editor-content-code-background-color));
    border-color: rgba(var(--neeto-editor-content-code-background-color));
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
      Courier, monospace;

    * {
      font-size: inherit !important;
    }
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code,
  p code {
    font-size: var(--neeto-editor-content-code-font-size);
  }

  pre {
    position: relative;
    color: rgba(var(--neeto-editor-content-code-color));
    background-color: rgba(var(--neeto-editor-content-code-background-color));
    border-color: rgba(var(--neeto-editor-content-code-background-color));
    max-width: 100%;
    font-size: var(--neeto-editor-content-paragraph-font-size);
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--neeto-editor-rounded-sm);
    padding: 0;
    position: relative;

    div {
      color: rgba(var(--neeto-editor-content-code-color));
    }

    .neeto-editor-codeblock-options {
      display: flex;
      position: absolute;
      gap: 0.25rem;
      align-items: center;
      top: 0.25rem;
      right: 0.25rem;
      visibility: hidden;
      opacity: 0;

      &__menu {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      &__input {
        margin: 0.25rem 0.25rem;
      }
    }

    &:hover {
      .neeto-editor-codeblock-options {
        visibility: visible;
        opacity: 1;
      }

      .copy-button {
        visibility: visible;
        opacity: 1;
      }
    }

    .copy-button {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      visibility: hidden;
      opacity: 0;
    }

    counter-reset: line-number;
  }

  pre[data-linenumbers] .highlight-line {
    position: relative;
    padding-left: 3.125rem;

    &::before {
      color: rgba(var(--neeto-editor-content-code-line-number-color));
      content: counter(line-number);
      counter-increment: line-number;
      font-size: 85%;
      font-weight: 400;
      position: absolute;
      left: 0;
      padding-left: 0.625rem;
      padding-right: 1rem;
      width: 3.125rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &:last-child::before {
      content: "";
    }
  }

  pre > code {
    font-size: var(--neeto-editor-content-code-font-size);
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    font-weight: 400;
    color: inherit;
    line-height: inherit;
    white-space: pre !important;
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 0.75rem;
  }

  pre[data-linenumbers] > code {
    padding-left: 0;
  }

  // Blockquote
  blockquote {
    font-weight: var(--neeto-editor-font-medium);
    color: rgba(var(--neeto-editor-content-blockquote-color));
    border-left-width: var(--neeto-editor-content-blockquote-border-left-width);
    border-left-color: rgba(
      var(--neeto-editor-content-blockquote-border-color)
    );
    quotes: "\201C""\201D""\2018""\2019";
    margin-bottom: var(--neeto-editor-content-blockquote-margin-bottom);
    padding-left: var(--neeto-editor-content-blockquote-padding-left);

    div,
    p {
      color: inherit;
    }

    & > p::before {
      content: "" !important;
    }

    & > p::after {
      content: "" !important;
    }
  }

  ul,
  ol {
    list-style: revert;
    padding-left: var(--neeto-editor-content-list-left-padding);
    margin-bottom: var(--neeto-editor-content-list-margin-bottom);

    li {
      margin-top: var(--neeto-editor-content-list-item-margin-top);
      margin-bottom: var(--neeto-editor-content-list-item-margin-bottom);
      font-size: var(--neeto-editor-content-paragraph-font-size);
      font-weight: var(--neeto-editor-content-paragraph-font-weight);
      line-height: var(--neeto-editor-content-paragraph-line-height);
      color: rgba(var(--neeto-editor-content-paragraph-color));
    }

    li::before {
      background-color: rgba(var(--neeto-editor-content-paragraph-color));
    }
  }

  // Link
  a[href] {
    color: rgb(var(--neeto-editor-accent-800));
    font-weight: inherit;
  }

  // Embed
  .neeto-editor__video-wrapper {
    display: flex;
    margin: 1rem 0px;

    .neeto-editor__video-iframe {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      height: auto !important;

      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }
  }

  .neeto-editor__video--left {
    justify-content: flex-start;
  }

  .neeto-editor__video--right {
    justify-content: flex-end;
  }

  .neeto-editor__video--center {
    justify-content: center;
  }

  mark {
    border-radius: var(--neeto-editor-rounded-sm);
    padding: 0px;
  }

  [data-type="mention"] {
    color: rgb(var(--neeto-editor-accent-800));
  }

  [data-type="special-mention"] {
    color: rgb(var(--neeto-editor-accent-800));
  }

  table {
    overflow: hidden;
    border: 1px solid rgba(var(--neeto-editor-gray-300));
    border-collapse: separate;
    border-radius: var(--neeto-editor-rounded-sm);
    border-spacing: 0;
    table-layout: fixed;
    min-width: 300px;

    th,
    td {
      border-left: 1px solid rgba(var(--neeto-editor-gray-300));
      border-top: 1px solid rgba(var(--neeto-editor-gray-300));
      padding: 8px 12px;
      position: relative;
    }

    td:first-child,
    th:first-child {
      border-left: none;
    }

    th {
      background: rgb(var(--neeto-editor-gray-100));
      border-top: none;
    }

    td {
      background: rgb(var(--neeto-editor-white));
    }
  }
}

.neeto-editor-content--hidden {
  display: none;
}

.neeto-editor__image-wrapper {
  margin: 1rem 0;
  display: flex;
  text-decoration: none;
  padding-left: 3px;

  figure {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
  }

  .neeto-editor__image {
    display: inline-block;
    min-height: 52px;
    max-width: 100%;
    height: auto !important;
    vertical-align: top;

    img,
    video {
      display: inline-block;
      vertical-align: top !important;
      width: 100%;
      height: auto;

      &.hidden {
        display: none;
      }
    }

    img {
      cursor: zoom-in;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(var(--neeto-editor-content-image-border-color));
      border-radius: var(--neeto-editor-content-image-border-radius);
    }
  }

  .neeto-editor__image-placeholder {
    width: 400px;
    height: 200px;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figcaption div {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: var(--neeto-editor-font-normal);
    color: rgb(var(--neeto-editor-gray-600));

    a {
      display: inline-block;
      text-align: center;
      margin: 0;
    }
  }

  figcaption.is-empty {
    div:before {
      position: absolute;
      inset: 0;
      content: "Add a caption";
      color: rgb(var(--neeto-editor-gray-500));
    }
  }

  color: unset !important;
  font-weight: normal !important;

  &:has(img:not([src])) {
    display: none;
  }
}

.neeto-editor-content {
  figcaption {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: normal;
    color: #6b7280;
    max-width: 100%;
  }
}

.neeto-editor__image--left {
  justify-content: flex-start;
}

.neeto-editor__image--center {
  justify-content: center;
}

.neeto-editor__image--right {
  justify-content: flex-end;
}

.selected-text {
  padding: 2px 0px;
  background-color: rgb(var(--neeto-editor-gray-300));
}

.ne-image-preview-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--neeto-editor-gray-800), 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;

  &.active {
    display: flex;
  }

  .ne-image-preview {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    background: rgb(var(--neeto-editor-white));
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 60vw;
    max-height: 90vh;

    img {
      max-height: 100%;
      max-width: 100%;
      width: fit-content;
      overflow: hidden;
      object-fit: contain;
      padding: 10px;
      background: rgb(var(--neeto-editor-white));
    }

    &.image-loaded {
      border-radius: 10px;
      opacity: 1;
      background: transparent;
      display: flex;
      align-items: center;
    }

    &__caption {
      line-height: 1.5;
      color: rgb(var(--neeto-editor-gray-800));
      margin-top: auto;
      text-align: center;
      width: 100%;
    }
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgb(var(--neeto-editor-white));
    border-radius: var(--neeto-editor-rounded-full);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-preview {
    max-width: 70%;
    max-height: 70%;
  }

  &__spinner {
    position: absolute;

    i {
      background-color: rgb(var(--neeto-editor-gray-300));
    }
  }
}
