@use "commands";
@use "editor-content";
@use "editor";
@use "media-uploader";
@use "image-preview";
@use "emoji";
@use "table";
@use "link-popover";
@use "collaboration-cursor";
@use "codeblock";
@use "highlight";

.ProseMirror {
  overflow-y: auto;
  height: 100%;
  white-space: break-spaces;
}

.ProseMirror:focus {
  outline: none;
}
