@import "./commands";
@import "./editor-content";
@import "./editor";
@import "./media-uploader";
@import "./image-preview";
@import "./emoji";
@import "./table";
@import "./link-popover";
@import "./collaboration-cursor";

.ProseMirror {
  overflow-y: auto;
  height: 100%;
  white-space: break-spaces;
}

.ProseMirror:focus {
  outline: none;
}
