//Abstracts
@use "styles/abstracts/animations";

// Editor
@use "styles/editor/commands";
@use "styles/editor/editor";
@use "styles/editor/editor-content";
@use "styles/editor/menu";
@use "styles/editor/media-uploader";
@use "styles/editor/image-preview";
@use "styles/editor/emoji";
@use "styles/editor/table";
@use "styles/editor/link-popover";
@use "styles/editor/collaboration-cursor";
@use "styles/components/attachments";

.ProseMirror {
  overflow-y: auto;
  height: 100%;
  white-space: break-spaces;
}

.ProseMirror:focus {
  outline: none;
}
