//Abstracts
@import "./styles/abstracts/animations";

// Editor
@import "./styles/editor/commands";
@import "./styles/editor/editor";
@import "./styles/editor/editor-content";
@import "./styles/editor/menu";
@import "./styles/editor/media-uploader";
@import "./styles/editor/image-preview";
@import "./styles/editor/emoji";
@import "./styles/editor/table";
@import "./styles/editor/link-popover";
@import "./styles/editor/collaboration-cursor";
@import "./styles/components/attachments";

.ProseMirror {
  overflow-y: auto;
  height: 100%;
  white-space: break-spaces;
}

.ProseMirror:focus {
  outline: none;
}
